/* InstructorPrincipal.css */

/* Estilos para tarjetas personalizadas */
.custom-card {
    background: linear-gradient(135deg, #1E1B4B, #4F46E5); /* Degradado oscuro */
    color: white;
    border: none;
    font-family: Roboto, sans-serif;
    margin: 0.5vw; /* Espaciado entre tarjetas reducido */
    padding: 1.5vw; /* Espacio interno reducido */
    min-height: 6vw; /* Altura mínima ajustada */
    width: 8vw; /* Ancho reducido */
    min-width: 16vw; /* Ancho mínimo ajustado */
    max-width: 20vw; /* Ancho máximo ajustado */
    border-radius: 1vw; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Transición para hover */
    display: flex; /* Flexbox para alinear contenido */
    flex-direction: column; /* Alinea el contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: space-between; /* Asegura que el contenido esté bien distribuido */
}

/* Contenedor del ícono para asegurar alineación uniforme */
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw; /* Altura ajustada para icono */
    margin-bottom: 1vw; /* Separación del título */
}

/* Estilos para el título y descripción */
.custom-card h2 {
    font-size: 1.1em; /* Tamaño de fuente ajustado */
    color: white;
    margin: 0.5vw 0;
    min-height: 2.5vw; /* Asegura alineación uniforme en todas las tarjetas */
}

.custom-card p {
    font-size: 0.9em; /* Tamaño de fuente ajustado */
    color: #A5B4FC;
    margin: 0;
    min-height: 4vw; /* Asegura alineación uniforme en todas las tarjetas */
}

/* Estilos para el botón en las tarjetas */
.custom-btn {
    background-color: #4F46E5; /* Color del botón */
    border: none;
    color: white;
    padding: 0.4vw 0.8vw; /* Espacio del botón reducido */
    border-radius: 0.5vw;
}

.custom-btn:hover {
    background-color: #A5B4FC; /* Color del botón al pasar el mouse */
    color: #1E1B4B; /* Color del texto al pasar el mouse */
}

/* Efecto de hover en la tarjeta */
.custom-card:hover {
    transform: scale(1.05); /* Escalado al pasar el mouse */
}

/* Animación de entrada para las tarjetas */
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in; /* Transición suave */
}
