.navbar {
    background-color: #1E1B4B; /* Color de fondo para el navbar */
    color: white; /* Color del texto en el navbar */
}

.navbar a {
    color: white; /* Color de los enlaces */
}

.navbar .btn {
    background-color: #4F46E5; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
}

.navbar .btn:hover {
    background-color: #A5B4FC; /* Color del botón al pasar el mouse */
}
