.custom-card {
    background: linear-gradient(135deg, #1E1B4B, #4F46E5);
    color: white;
    border: none;
    width: 5vw; /* Ancho de las tarjetas relativo */
    height: 5vw; /* Altura fija relativa */
    border-radius: 0.5vw; /* Esquinas redondeadas relativas */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    display: flex; /* Flexbox para centrar contenido */
    flex-direction: column; /* Alinear el contenido verticalmente */
    transition: transform 0.3s ease; /* Transición suave para el escalado */
}

.custom-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño al 105% */
}

.image-container {
    height: 100%; 
    width: 100%;
}

.card-img-top {
    object-fit: cover; 
    height: 100%; 
    width: 100%; 
    border-radius: 0.5vw; 
}

.card-title {
    color: #A5B4FC;
    margin-bottom: 0.5vw;
}

/* Espaciado entre las tarjetas */
.mb-2 {
    margin-bottom: 0;
}

.col-lg-2-5 {
    flex: 0 0 10%; /* Ajusta el ancho de las columnas en porcentaje */
    max-width: 10%;
    max-height: 10%; /* Asegura que no supere el 15.83% */
}
