@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Fuente Roboto para todo el navbar */
.navbar, .navbar * {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #1E1B4B; /* Color de fondo para el navbar */
  color: white; /* Color del texto en el navbar */
}

.navbar a {
  color: white; /* Color de los enlaces */
}

.navbar .btn {
  background-color: #4F46E5; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
}

.navbar .btn:hover {
  background-color: #A5B4FC; /* Color del botón al pasar el mouse */
}

.custom-toggler-icon {
  background-color: white !important; /* Cambia el color de fondo a blanco */
  border-radius: 5vw; /* Bordes redondeados */
  width: 15vw; /* Ancho relativo */
  height: 1.5vw; /* Altura relativa */
  position: relative; /* Para posicionar elementos hijos */
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: ''; /* Necesario para los pseudo-elementos */
  background-color: white; /* Color blanco */
  border-radius: 0.3rem; /* Bordes redondeados */
  width: 2.5rem; /* Ancho relativo al rem base */
  height: 0.2rem; /* Alto relativo */
  position: absolute; /* Posicionamiento relativo al contenedor */
  left: 0; /* Alineado a la izquierda */
  transition: all 0.3s ease; /* Transición suave */
}

.custom-toggler-icon::before {
  top: -0.7rem; /* Posición de la línea superior */
}

.custom-toggler-icon::after {
  top: 0.7rem; /* Posición de la línea inferior */
}

.navbar-toggler {
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno en focus */
  border-radius: 0.5rem; /* Bordes redondeados del botón */
  padding: 0.3rem; /* Añade padding */
}
