.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem; /* Tamaño grande */
    font-weight: 700; /* Negrita */
    text-align: center; /* Centrado en la página */
    color: white; /* Letra blanca */
    margin-top: 30px; /* Espacio superior */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Texto en mayúsculas */
    background: linear-gradient(135deg, #1E1B4B, #4F46E5); /* Degradado diagonal */
    padding: 20px; /* Margen interno */
    border-radius: 10px; /* Esquinas redondeadas */
}

.body {
    background: white;
}

.h1 {
    color: #1E1B4B;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

/* Estilo para el robot de bienvenida */
.welcome-sticker {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: float 3s ease-in-out infinite; /* Animación de flotación */
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); } /* Movimiento de flotación */
}
